@use '../globals/variables' as var;
@use '../globals/mixin' as mix;
.contact-page {
	width: 70vw;
	margin: 0 auto;
	h1 {
		text-align: center;
		padding-bottom: 2rem;
	}
	.form-contact {
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		padding-bottom: 5rem;
		.input-name-phone {
			display: flex;
			gap: 2rem;
		}
	}
}
.btn-send-form {
	background-color: #009891 !important;
	height: 3rem;

	&:hover {
		background-color: #08bdb4 !important;
	}
}
