.position-relative {
	position: relative;
}
.text-aling-center {
	text-align: center;
}
.subrayado {
	background-image: linear-gradient(
		90deg,
		rgb(45, 253, 133) 12%,
		rgb(34, 193, 195) 62%,
		rgb(39, 205, 222) 95%
	);
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 1.4px;
	background-position: left bottom;
	transition: background-size 0.7s ease-in-out;
	border-radius: 5px;
}
.min-height-t {
	min-height: 900px;
}
.hidden-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
