$negro: black;
$letraOscura:#545454;
$gris :#8b8b8b;
$blanco:white;
$fondo:#212020;
$celeste:rgb(0, 200, 220);
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Oswald:wght@300&family=Passion+One&display=swap');


// font-family: 'Francois One', sans-serif;

// font-family: 'Oswald', sans-serif;

// font-family: 'Passion One', cursive;